body {
    background-color: antiquewhite;
    font-family: 'Oswald', sans-serif;
    margin:0 0 0 0;
} 

.row {
    display: flex;
    max-width: 1503px;
}

figure {
    display: flex;
    flex-direction:column;
    margin: 0 0 0 0;
}

.me {
    max-width: 799px;
    max-height: 859px;
   
}

.me_para {
   
}


footer{

}

@media only screen and (max-width: 600px) {
    .row {
        display: flex;
        max-width: 1503px;
        flex-wrap: wrap;
    }

 
}